.numberOfReservations {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 155px;
    bottom: 7px;
    border-radius: 10px;
    border: 2px solid;
    color: #C10016;
    border-color: transparent;
    z-index: 1;
}