@import '../../styles/breakpoints.module.scss';

.button {
    width: 220px;
    height: 60px;
    font-family: Poppins;
    font-weight: lighter;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
    font-size: 20px;
    margin: 15px;

    color: white;
    border: none;
    background: #c10016;

    @media only screen and (max-width: $breakpoint-900p) {
        width: 80%;
        height: 40%;
        font-size: 18px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        width: 90%;
        height: 50%;
        font-size: 16px;
    }
    @media only screen and (max-width: $breakpoint-medium) {
        width: 90%;
        font-size: 16px;
        margin: 5px;
    }
}

.disabledButton {
    @extend .button;
    cursor: auto;
    opacity: 0.7;
}
