@import '../../styles/breakpoints.module.scss';

.rowDiv {
    display: flex;
    height: 100%;
    width: 100%;
}
.colDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.itemContainer {
    @extend .rowDiv;
    align-items: center;
    height: 90px;
    border-bottom: 1px solid #c1001633;
    margin-bottom: 5%;
    @media only screen and (max-width: $breakpoint-1440p) {
        height: 110px;
    }
    @media only screen and (max-width: $breakpoint-900p) {
        height: 90px;
    }
}

.rowDiv1 {
    @extend .rowDiv;
    align-items: flex-start;
    width: 80%;
}
.pictureWrapper {
    height: 80px;
    width: 95px;
    overflow: auto;
    border-radius: 20px;
    overflow-y: hidden;

    @media only screen and (max-width: $breakpoint-1440p) {
        height: 90px;
        width: 100px;
    }
    @media only screen and (max-width: $breakpoint-900p) {
        height: 80px;
        width: 95px;
    }
    @media only screen and (max-width: $breakpoint-large) {
        height: 70px;
        width: 80px;
    }
}

.mealPicture {
    max-width: 100%;
    max-height: 100%;
}

.mealNameWrapper {
    @extend .colDiv;
    margin-left: 5%;
    width: 50%;
}

.mealName {
    font-size: 14px;
    margin-bottom: 5%;

    @media only screen and (max-width: $breakpoint-1080p) {
        font-size: 16px;
    }
    @media only screen and (max-width: $breakpoint-900p) {
        font-size: 14px;
    }
}

.amountWrapper {
    justify-content: flex-start;
    height: 20%;

    @media only screen and (max-width: $breakpoint-1080p) {
        height: 30%;
    }
    @media only screen and (max-width: $breakpoint-900p) {
        height: 20%;
    }
}

.amountLabel {
    font-size: 16px;
}

.priceWrapper {
    @extend .colDiv;
    width: 20%;
    justify-content: flex-end;
    align-items: flex-end;
}

.binWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.binButton {
    cursor: pointer;
}

.priceDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
}
.price {
    font-size: 14px;

    @media only screen and (max-width: $breakpoint-1080p) {
        font-size: 16px;
    }
    @media only screen and (max-width: $breakpoint-900p) {
        font-size: 14px;
    }
}
