.container {
    position: fixed;
    left: 250px;
}

.title {
    position: absolute;
    width: 274px;
    height: 53px;
    left: 29px;
    top: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;

    color: #333333;
}